.login-container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-login input,
.form-login select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  padding: 10px;
  background: #9d00ff;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

.signup-text {
  margin-top: 20px;
  text-align: center;
}

.signup-link {
  color: #9d00ff;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
